.ABC{
    color: blue;
    background-color: aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 10px;
     margin-right: 10px;
}

button:hover{
  background-color: blue;
}